body {
    background-image: url(../img/background.png);
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0 auto;
    @import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@700&display=swap');
    font-family: 'Noto Sans', sans-serif;
}
html {
    font-size: 200%;
}
::selection{
    background-color: #F26522;;
}
a {
    color: white;
    text-decoration: none;
    font-size: .65rem;
}
a:hover{
    color: #F26522;
}
p {
    margin: 0;
}

.container {
    display: flex;
    justify-content: space-between;
    margin: 49px auto 44px auto;
    width: 77%;
}

.logo {
    display: flex;
    background: url("../img/logo.png") no-repeat;
    transition: all 0.4s;
}

.logo:hover {
    color: #F26522;
    background: url("../img/LogoHover.png") no-repeat;
}

.logo-image {
    margin-right: 10px;
    width: 46px;
    height: 44px;
}

.headerlogo {
    font-size: 1.1rem;
    text-transform: uppercase;
}

.logo-span{
    font-size: .65rem;
}

.contacts {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.tours {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 77%;
    margin: 0 auto;
}

.card {
    display: flex;
    flex-direction: column;
    width: 29%;
    margin-bottom: 54px;
}

.card > a {
    text-align: center;
}

.card:hover > a {
    color: #F26522;
}

.card:hover .details {
    transform: translateY(-100%);
    transition: all 0.5s;
}

.card__image {
    display: flex;
    flex-direction: column;
    margin-bottom: 22px;
    overflow: hidden;
    position: relative;
}

.details {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 72%;
    height: 100px;
    background: #f26422;
    position: absolute;
    top: 100%;
    left: 65px;
}

.details a {
    margin-right: 18px;
    font-size: .55rem;
}

.price {
    margin-left: 22px;
    color: white;
}

.price p:first-child {
    font-size: .6rem;
}

.tours {
    width: 83%;
}

.rights {
    margin-bottom: 31px;
    text-align: center;
    font-size: .6rem;
    color: white;
}
